/* *{ background-image: url(hk.jpg); */
/* background-size: cover;} */
.menu { 
    
   width: 100%;
   height: 80px;
   margin-left:370px ;
margin-top:5px ;


} 
 


.menu ul li {  list-style: none;
    float: left;
width:10% ;
height:70px ;
text-align: center;
line-height: 70px;
  
  background-color: aqua;
       padding: 0%;
}

.menu ul li ul {display: none;  


    
    

}  
.menu ul li:hover>ul{display: block;}

.menu ul li ul li { padding: 0%;
background-color: aqua;

width: 70%;


}
.box{ width: 400px;
  height: 200px;
  margin: 200px auto;

  border-radius: 4px;

  border: solid 4px;
  margin: 40px;
  background-clip: content-box green;
background-origin: content-box pink;






  
}