



.box { width:200px ;



margin: 200px auto;
padding: 10px;
border: 15px solid;
border-image-source: url(bor.jpg);
border-image-slice:3;

}



.content {text-align: justify;
 text-shadow: 5px 5px 5px;
 text-indent: 10px -10px;
text-decoration: underline;
text-transform: uppercase;


font-family: 'Coming Soon', cursive;


}


