*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    font-family: 'Coming Soon', cursive;
font-family: 'Noto Nastaliq Urdu', serif;
}

nav{
    font-family: 'Coming Soon', cursive;
    font-family: 'Noto Nastaliq Urdu', serif;
    width: 100%;
    height: 75px;
    line-height: 75px;
    padding: 0px 100px;
    position: fixed;
    background-image: linear-gradient(#7d2ae8,rgb(241,245,245));
}
nav .logo p{
    font-size: xx-large;
    font-weight: bold;
    
color:black;
letter-spacing: 1px;
float: left;
cursor: pointer;
}

nav ul{float: right;
}
nav li{list-style: none;
    display: inline-block;
    padding: 5px;
}

nav li a{
    text-decoration: none;
    font-size: x-large;
font-family: Georgia, 'Times New Roman', Times, serif;
text-transform: capitalize;
padding: 0px 10px;
color: black;
}
nav li a:hover{
    background-image: linear-gradient(#7d2ae8,rgb(241,245,245));
transition: all;
}

nav ul li ul {display: none;
    float: left; 
}

nav ul li:hover>ul { display: block;  padding: 0%;
    background-image: linear-gradient(#7d2ae8,rgb(241,245,245));
    float: left;
}

.bg{   height: 100vh;

width: 100%;

background-attachment: fixed;
background-position: center;
}
.content img { width: 100%;
    height: 400px;
    float: none;
   
   
    


}
.content p {

    font-size: 100px;
    font-family: 'Coming Soon', cursive;
font-family: 'Noto Nastaliq Urdu', serif;
border: solid rgb(7, 7, 7);
border-style: dotted;
border-radius: 10px 40px 70px 100px;
text-align: center;
padding: 30px;
}
    
